# hardandheavy{{
# Start terminal on login
[Desktop Entry]
Type=Application
Name=Terminal
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
# }}hardandheavy
