[Desktop Entry]
Type=Application
Exec=/usr/bin/yandex-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=yandex-browser
Name=yandex-browser
Comment[en_US]=
Comment=
